#footer-wrap
  if theme.footer_custom_text
    .footer_custom_text!=`${theme.footer_custom_text}`   
  if theme.ICP.enable
    .icp
      a(href=theme.ICP.url)
        if theme.ICP.icon
          img.icp-icon(src=url_for(theme.ICP.icon))
        span!=theme.ICP.text
